<div *ngIf="isLoading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="!isLoading">
    <div class="btn-group" role="group" aria-label="Content type selector" style="display:inline-block">
        <input type="checkbox" class="btn-check" id="btnAudioType" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnAudioType" (click)="switchContentTypeValue('audio')">Audio</label>
      
        <input type="checkbox" class="btn-check" id="btnVideoType" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnVideoType" (click)="switchContentTypeValue('video')">Video</label>
    </div>

    <div *ngIf="categories" class="btn-group" role="group" aria-label="Categories selector" style="float:right;">
        <ng-container *ngFor="let category of categories" style="display:inline-block">
            <input type="checkbox" class="btn-check" [id]="category.name" autocomplete="off" checked>
            <label class="btn btn-outline-primary" [for]="category.name" (click)="switchCategoryValue(category.id)">{{category.name}}</label>
        </ng-container>
    </div>

    <div class="container">
        <app-content-card *ngFor="let content of contents" [content]="content" style="display: inline-block; margin:2px;"></app-content-card>
    </div>
</div>


