<div class="card m-1 shadow bg-body rounded zoom" style="width: 18rem;">
    <img *ngIf="content.imageUrl" [src]="content.imageUrl" class="card-img-top" alt="...">
    <div class="card-body bg-dark">
        <h5 class="card-title fw-bold text-light">{{content.name}}</h5>
        <p class="card-text text-light"><strong>Artista: </strong>{{content.artistName}}</p>
        <p class="card-text text-light"><strong>Duración: </strong>{{content.contentLength}}</p>
        <p class="card-text text-light"><strong>Tipo: </strong>{{content.contentType}}</p>
        <a (click)="show()" class="btn btn-success">Reproducir</a>
        <app-content-detail *ngIf="showDetail" [content]="content"></app-content-detail>
    </div>
</div>