<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Better Calm</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" [routerLink]="['home']"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contents']"> Contents </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Appointments</a>
        </li>
      </ul>   
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Content -->
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<div>
  <footer>
      Better Calm by Diego Scaffo - José Pedro Amado
  </footer>
</div>