<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Better Calm</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-4 me-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" aria-current="page" [routerLink]="['home']"> Inicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['contents']"> Contenidos </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#"> Listas de Reproducción </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['appointment']"> Solicitud de Consulta</a>
        </li>
      </ul>   
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href="#"> Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-md py-4 p-5 mb-4 rounded-3">
  <!-- Content -->
  <div class="content container-md" role="main">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid footer border-top mt-3 py-3 pt-3 bg-light">
    <span class="text-muted">Better Calm by Diego Scaffo - José Pedro Amado</span>
</footer>