<div class="card text-dark bg-light mb-3 w-75 ms-auto me-auto">
    <div class="card-header text-light bg-primary">
        <h5 class="card-title mt-1">Solicitud de Consulta</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Para realizar una solicitud de consulta con uno de nuestros psicólogos especializados, por favor completar el siguiente formulario</p>
        <form>
            <div class="row mb-3">
                <div class="col">
                    <label for="patientFirstName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" placeholder="Por favor ingrese su nombre" id="patientFirstName" required>
                </div>
                <div class="col">
                    <label for="patientLastName" class="form-label">Apellido</label>
                    <input type="text" class="form-control" placeholder="Por favor ingrese su apellido" id="patientFirstName" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="patientBirthDate" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="patientBirthDate" required>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="patientEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="Por favor ingrese su email" id="patientEmail" required>
                </div>
                <div class="col">
                    <label for="patientPhone" class="form-label">Teléfono</label>
                    <input type="tel" class="form-control" placeholder="Por favor ingrese su teléfono" id="patientPhone" pattern="[0-9]{3,9}" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="patientIllness" class="form-label">Seleccione su dolencia</label>
                    <select class="form-select" id="patientIllness" required>
                        <option selected disabled>Seleccione una dolencia del menú</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col">
                    <label for="patientAppointmentDuration" class="form-label">Seleccione la duración de la consulta</label>
                    <select class="form-select" id="patientAppointmentDuration" required>
                        <option selected disabled>Seleccione la duración de la consulta del menú</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                
            </div>
            
            <button type="submit" class="btn btn-primary">Solicitar consulta</button>
        </form>
    </div>
</div>