<div class="card text-dark bg-light mb-3 ms-auto me-auto shadow rounded" style="width: 75rem;">
    <div class="card-header text-light bg-success">
        <h5 class="card-title mt-1">{{title}}</h5>
    </div>
    <div class="card-body bg-dark">
        <form [formGroup]="psychologistForm" (ngSubmit)="onSubmit(psychologistForm.value)">
            <div class="row mb-3">
                <div class="col">
                    <label for="name" class="form-label text-light">Nombre</label>
                    <input type="text" class="form-control" placeholder="Por favor ingrese el nombre" id="firstName" formControlName="firstName" required>
                </div>
                <div class="col">
                    <label for="lastName" class="form-label text-light">Apellido</label>
                    <input type="text" class="form-control" placeholder="Por favor ingrese el apellido" id="lastName" formControlName="lastName" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="address" class="form-label text-light">Dirección</label>
                    <input type="text" class="form-control" placeholder="Por favor ingrese la dirección" id="address" formControlName="address" required>
                </div>
                <div class="col">
                    <label for="format" class="form-label text-light">Seleccione el formato de atención</label>
                    <select class="form-select" id="format" formControlName="format" required>
                        <option value="OnSite">Presencial</option>
                        <option value="Remote">Remoto</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                
                <div class="col">
                    <label for="illnessModels" class="text-light">Seleccione las dolencias en que es experto</label>
                    <ng-select [items]="illnesses" bindLabel="name" bindValue="id" labelForId="state"
                                [multiple]="true" placeholder="Seleccione las dolencias" clearAllText="Limpiar"
                                [hideSelected]="true" notFoundText="No hay dolencias registradas"
                                [maxSelectedItems]="maxItems" [ngModel]="selectedIllnesses" formControlName="illnessModels">
                    </ng-select>
                </div>
                <div class="col">
                    <label for="rate" class="form-label text-light">Seleccione el costo por hora</label>
                    <select class="form-select" id="rate" formControlName="rate" required>
                        <option value="500">$500</option>
                        <option value="750">$750</option>
                        <option value="1000">$1000</option>
                        <option value="2000">$2000</option>
                    </select>
                </div>
            </div>
            <div class="row mx-auto">
                <button type="button" class="btn btn-secondary ms-auto me-1 shadow-sm rounded" style="width: 10rem;" (click)="goBackToListView()">Cancelar</button>
                <button type="submit" class="btn btn-success ms-1 me-auto shadow-sm rounded" style="width: 10rem;" [disabled]="!psychologistForm.valid">{{buttonText}}</button>
            </div>
        </form>
    </div>
</div>